:root {
  --brand-color: aqua;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.button-begin {
  border: 0;
  outline: 0;
  background-color: rgb(47, 47, 77);
  padding: 16px 32px 16px 32px;
  cursor: pointer;
  border-radius: 38px;
  color: rgb(255, 255, 255);
  margin: 40px;
}
.navigation-example,
.navigation-project {
  color: aqua;
}
.delamark,
.project {
  color: coral;
}
.list {
  color: rgb(255, 127, 80);
}
.list-number,
.list-sign {
  color: rgb(207, 228, 17);
}
.list-item {
  color: rgb(23, 21, 41);
}

.social {
  margin-left: 40px;
}

.social-link {
  margin-left: 15px;
  background-color: #fff;
  color: #e22bca;
}
.social-blok {
  display: flex;
  flex-direction: row;
  width: 100%;
}
a {
  text-decoration: none;
}
.alert {
  text-decoration: underline;
}
.error {
  color: red;
}
.warning {
  color: orange;
}
.success {
  color: green;
}
.pending {
  color: lightskyblue;
}
#title {
  font-weight: 500;
  color: rgb(255, 127, 80);
}
.social-link-option-first a {
  color: rgb(223, 10, 10);
}
.menu > li {
  color: rgb(28, 162, 172);
}
.submenu > li {
  color: #e22bca;
}
.submenu > h4 {
  color: chartreuse;
}
a[title] {
  color: blueviolet;
}
a[href="https://natashafedorova.github.io/example-tags/"]
{
  color: rgb(13, 231, 60);
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: violet;
}
.list-music-link .music-link {
  color: black;
}
.list-music-link .music-link:hover {
  color: sandybrown;
}
.list-shop-link .shop-link {
  color: aqua;
}
.list-shop-link .shop-link:hover,
.list-shop-link .shop-link:focus {
  color: #e22bca;
}
.second-list-music-link {
  color: black;
}
.second-list-music-link .second-music-link {
  color: black;
}
.second-list-music-link .second-music-link:hover,
.second-list-music-link .second-music-link:focus {
  color: yellow;
}
.second-list-music-link .second-music-link:active {
  color: red;
}
.list-visited .list-link-visited {
  color: black;
  cursor: pointer;
}
.list-visited .list-link-visited:hover .list-active .list-link-visited:focus {
  color: aqua;
  cursor: pointer;
}
.list-visited .list-link-visited:active {
  color: red;
  cursor: wait;
}
.list-visited .list-link-visited:visited {
  color: rgb(228, 27, 194);
}
.text {
  background-color: blue;
  color: #fff;
}
.text-color-rgb {
  color: rgb(255, 0, 0);
}
.text-hexademical {
  color: #e22bca;
}
.text-color-alpha {
  color: rgba(200, 10, 45, 0.4);
}
article {
  color: darkorchid;
}
article > p {
  color: aqua;
}
article > ul > li {
  color: gold;
}
.post .post-list .post-item {
  color: darkgreen;
}
#title {
  color: cornflowerblue !important;
}
.text-link-inherit {
  color: inherit;
}
.text-link-currentcolor {
  color: currentColor;
}
.section-title {
  color: var(--brand-color);
}
/* не работает фолбэк */
.section-title::before {
  background-color: var(--brand-color, yellow);
}
.example-title {
  color: var(--brand-color, violet);
}
